<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-button expand="full">Concert</ion-button>
        <ion-button expand="full">Local event</ion-button>
        <ion-button expand="full">Comedy</ion-button>
        <ion-button expand="full">Charities</ion-button>
      </ion-row>
      <ion-row>
        <ion-label>Events near you</ion-label>
      </ion-row>
      <ion-row>
        <div class="scrolling-wrapper snaps-inline">
          <div class="card" *ngFor="let event of state.events">
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>{{ event.eventTitle }}</ion-card-title>
                <ion-card-subtitle>Event date: {{ event.eventData | date: 'short' }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Address: {{ event.eventAddress }}
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <ion-label>Newest Events</ion-label>
      </ion-row>
      <ion-row>
        <a href="#">
          <div class="scrolling-wrapper snaps-inline">
            <div class="card" *ngFor="let event of state.events">
              <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-title>{{ event.eventTitle }}</ion-card-title>
                  <ion-card-subtitle>Event date: {{ event.eventData | date: 'short' }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Address: {{ event.eventAddress }}
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </a>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
