/* styles.css or user-page.component.css */

.user-profile {
  display: flex;
  align-items: center;
}

.user-picture img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  flex-grow: 1;
}

/* Add more styles as needed */

